* {
    margin: 0;
    padding: 0;
    border: 0;
    }
#master {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gradientBG {
  position: absolute;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  background-size: 1000% 1000%;
  background-image: linear-gradient(
        -45deg, 
        rgb(0, 0, 0) 0%, 
        rgb(23, 70, 87) 25%, 
        rgb(5, 36, 48)50%, 
        rgb(10, 41, 54) 100%
  );  
  animation: AnimateBG 30s ease infinite;
}

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

#buttonscontainer {
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 300px;
}
    
button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 0px;
    background-color: transparent;
}

#transbg {
  position: absolute;
  z-index: -1;
  border-radius: 20px 20px 0px 0px;
  height: 300px;
  width: 300px;
  opacity: 40%;
  background: rgb(255, 255, 255);
}

/* scorebug */

#scoreBug {
  display: flex;
  width: 300px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
}

#score {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#reset {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  width: fit-content;
  height: fit-content;
}

#scoreBugBG{
  display: flex;
  position: absolute;
  z-index: -1;
  height: 100px;
  width: 300px;
  background: rgb(255, 255, 255);
  opacity: 20%;
  border-radius: 0px 0px 20px 20px;
}

#crosscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

#noughtcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}
/* borders */

#one, #two, #three {
    border-top: 0px;
}

#one, #four, #seven {
    border-left: 0px;
}

#three, #six, #nine {
    border-right: 0px;
}

#seven, #eight, #nine {
    border-bottom: 0px;
}

/* basics */

#cross {
    transform: rotate(45deg);
    background: white;
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: .5s;
    animation-name: crossesfade;
  }

  #cross:after {
    background: white;
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes crossesfade {
    0% {
      transform: rotate(45deg) scale(1);
      opacity: 30%;
    }
  
    20% {
      transform: rotate(45deg) scale(.5);
      opacity: 30%;
    }

    60% {
      transform: rotate(45deg) scale(1.2);
      opacity: 100%;
    }
  
    100% {
      transform: rotate(45deg) scale(1);
      opacity: 100%;
    }
  }

  #noughts {
    height: 20px;
    width: 20px;
    border: solid 5px white;
    border-radius: 20px;
    animation-duration: .5s;
    animation-name: noughtsfade;
  }
  @keyframes noughtsfade {
    0% {
      transform: scale(1);
      opacity: 30%;
    }
  
    20% {
      transform: scale(.5);
      opacity: 30%;
    }

    60% {
      transform: scale(1.2);
      opacity: 100%;
    }
  
    100% {
      transform: scale(1);
      opacity: 100%;
    }
  }

  /* winning */

  #winningcross{
    pointer-events:none;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
    height: 25px;
    position: relative;
    width: 5px;
    animation: winningcross 2s infinite;
    animation-timing-function: ease-in-out;
  }
  #winningcross:after {
    pointer-events:none;
    background: rgb(255, 255, 255);
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes winningcross {
    0% {
      transform: rotate(45deg) scale(1);
    }
    
    90% {
      transform: rotate(45deg) scale(1.2);
    }
    
    100% {
      transform: rotate(45deg) scale(1);
    }
  }

  #winningnought {
    height: 20px;
    width: 20px;
    border: solid 5px white;
    border-radius: 20px;
    animation-duration: 2s;
    animation: winningnought 2s infinite;
  }

  @keyframes winningnought {
    0% {
      transform: rotate(45deg) scale(1);
    }
    
    75% {
      transform: rotate(45deg) scale(1.25);
    }
    
    100% {
      transform: rotate(45deg) scale(1);
    }
  }

   /* losing */

  #losingcross{
    opacity: 30%;
    pointer-events:none;
    transform: rotate(45deg);
    background: rgb(242, 242, 242);
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: 1s;
    animation-name: losingcross;
  }
  #losingcross:after {
    pointer-events:none;
    background: rgb(242, 242, 242);
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
    animation-duration: 1s;
  }

  @keyframes losingcross {
    from {
      background: rgb(255, 255, 255);
      opacity: 100%;
    }
  
    to {
      background: rgb(255, 255, 255);
      opacity: 30%;
    }
  }

  #losingnought {
    height: 20px;
    width: 20px;
    border: solid 5px white;
    transform: scale(.9);
    opacity: 30%;
    border-radius: 20px;
    animation-duration: 1s;
    animation-name: losingnought;
  }

  @keyframes losingnought {
    from {
      transform: scale(1);
      border: solid 5px white;
      opacity: 100%;
    }
  
    to {
      transform: scale(.9);
      border: solid 5px white;
      opacity: 30%;
    }
  }
  
/* opacity */

  #crossopacity {
    pointer-events:none;
    transform: rotate(45deg);
    opacity: 30%;
    background: rgb(242, 242, 242);
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: .5s;
    animation-name: crossopacityfade;
  }
  #crossopacity:after {
    pointer-events:none;
    background: rgb(242, 242, 242);
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes crossopacityfade {
    0% {
      opacity: 0%;
    }
  
    50% {
      opacity: 20%;
    }

    100% {
      opacity: 30%;
    }
  }

  #crossopacityfadeaway {
    pointer-events:none;
    opacity: 0%;
    transform: rotate(45deg);
    background: white;
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: .5s;
    animation-name: crossopacityfadeaway;
    animation-iteration-count: 1;
  }

  #crossopacityfadeaway:after {
    pointer-events:none;
    background: white;
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes crossopacityfadeaway {
    0% {
      opacity: 30%;
    }
  
    50% {
      opacity: 10%;
    }

    100% {
      opacity: 0%;
    }
  }

  #noughtsopacity {
    pointer-events:none;
    height: 20px;
    width: 20px;
    border: solid 5px white;
    opacity: 30%;
    border-radius: 20px;
    animation-duration: .5s;
    animation-name: noughtsopacityfade;
  }

  @keyframes noughtsopacityfade {
    0% {
      opacity: 0%;
    }

    50%{
      opacity: 20%;
    }

    100% {
      opacity: 30%;
    }
  }

  #noughtsopacityfadeaway {
    pointer-events:none;
    border: solid 5px white;
    opacity: 0%;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    animation-duration: .5s;
    animation-name: noughtsopacityfadeaway;
  }

  @keyframes noughtsopacityfadeaway {
    0% {
      opacity: 30%;
    }

    50%{
      opacity: 10%;
    }

    100% {
      opacity: 0%;
    }
  }