* {
    margin: 0;
    padding: 0;
    border: 0;
    }

#buttonscontainer {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(5, 63, 88) 0%, 
        rgb(50, 6, 58) 25%, 
        rgb(34, 60, 99)50%, 
        rgb(31, 31, 31) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 300px;
}
    
button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 0px;
    background-color: transparent;
}

#transbg {
  position: absolute;
  z-index: -1;
  border-radius: 30px;
  height: 300px;
  width: 300px;
  opacity: 30%;
  background: rgb(255, 255, 255);
}

#one, #two, #three {
    border-top: 0px;
}

#one, #four, #seven {
    border-left: 0px;
}

#three, #six, #nine {
    border-right: 0px;
}

#seven, #eight, #nine {
    border-bottom: 0px;
}

#cross {
    transform: rotate(45deg);
    background: white;
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: .5s;
    animation-name: crossesfade;
  }
  #cross:after {
    background: white;
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes crossesfade {
    from {
      background: rgb(242, 242, 242);
    }
  
    to {
      background: white;
    }
  }

  #winningcross{
    pointer-events:none;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: 2s;
    animation: winningcross 2s infinite;
  }
  #winningcross:after {
    pointer-events:none;
    background: rgb(255, 255, 255);
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes winningcross {
    0% {
      transform: rotate(45deg) scale(1);
    }
    
    75% {
      transform: rotate(45deg) scale(1.25);
    }
    
    100% {
      transform: rotate(45deg) scale(1);
    }
  }

  #losingcross{
    opacity: 50%;
    pointer-events:none;
    transform: rotate(45deg);
    background: rgb(242, 242, 242);
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: 2s;
    animation-name: losingcross;
  }
  #losingcross:after {
    pointer-events:none;
    background: rgb(242, 242, 242);
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
    animation-duration: 2s;
  }

  @keyframes losingcross {
    from {
      background: rgb(255, 255, 255);
      opacity: 100%;
    }
  
    to {
      background: rgb(255, 255, 255);
      opacity: 50%;
    }
  }

  #losingnought {
    height: 20px;
    width: 20px;
    border: solid 5px white;
    opacity: 50%;
    border-radius: 20px;
    animation-duration: 2s;
    animation-name: losingnought;
  }

  @keyframes losingnought {
    from {
      border: solid 5px white;
      opacity: 100%;
    }
  
    to {
      border: solid 5px white;
      opacity: 50%;
    }
  }
  


  #crossopacity {
    pointer-events:none;
    transform: rotate(45deg);
    opacity: 50%;
    background: rgb(242, 242, 242);
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: .5s;
    animation-name: crossopacityfade;
  }
  #crossopacity:after {
    pointer-events:none;
    background: rgb(242, 242, 242);
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes crossopacityfade {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 50%;
    }
  }

  #crossopacityfadeaway {
    pointer-events:none;
    opacity: 0%;
    transform: rotate(45deg);
    background: white;
    height: 25px;
    position: relative;
    width: 5px;
    animation-duration: 2s;
    animation-name: crossopacityfadeaway;
    animation-iteration-count: 1;
  }

  #crossopacityfadeaway:after {
    pointer-events:none;
    background: white;
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
  }

  @keyframes crossopacityfadeaway {
    from {
      opacity: 50%;
    }
  
    to {
      opacity: 0%;
    }
  }

  #noughts {
    height: 20px;
    width: 20px;
    border: solid 5px white;
    border-radius: 20px;
    animation-duration: .5s;
    animation-name: noughtsfade;
  }
  @keyframes noughtsfade {
    from {
      border: solid 5px white;
      opacity: 50%;
    }
  
    to {
      border: solid 5px white;
    }
  }

  #noughtsopacity {
    pointer-events:none;
    height: 20px;
    width: 20px;
    border: solid 5px white;
    opacity: 50%;
    border-radius: 20px;
    animation-duration: .5s;
    animation-name: noughtsopacityfade;
  }

  @keyframes noughtsopacityfade {
    from {
      border: solid 5px transparent;
    }
    to {
      border: solid 5px white;
      opacity: 50%;
    }
  }

  #noughtsopacityfadeaway {
    pointer-events:none;
    height: 20px;
    width: 20px;
    border: transparent;
    border-radius: 20px;
    animation-duration: 2s;
    animation-name: noughtsopacityfadeaway;
  }

  @keyframes noughtsopacityfadeaway {
    from {
      border: solid 5px white;
      opacity: 50%;
    }
    to {
      border: solid 5px transparent;
    }
  }

#scorebug {
  position: absolute;
}

#reset {
  position: absolute;
  z-index: 1;
  color: yellow;
  position: absolute;
  background: blue;
}

#scoreBugBG{
  position: absolute;
  height: 200px;
  width:200px;
  position: absolute;
  background: rgb(255, 255, 255);
  opacity: 30%;
  border-radius: 30px;
}